<% var data = {
title: "my.ieltsadvantage.com | IELTS Advantage",
ver: "1.05",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<section class="content-section section-1">
    <div class="text-center">
	<h1>Discover how to improve your ielts skills to band 7+ with our new ielts fundamentals course.</h1>
    </div>
    <div class="container">
	<div class="row">
	    <div class="col-md-6">
		<h2>JOIN THE IELTS FUNDAMENTALS<br> COURSE TODAY TO GET ACCESS TO:</h2>
		<ul class="banner-list">
		    <li>
			<svg width=34 height=34 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.001 512.001" fill="#f56f09">
			    <path d="M421.196 0H90.805C80.46 0 72.074 8.387 72.074 18.731v52.151c0 6.897 5.591 12.487 12.487 12.487H427.44c6.897 0 12.487-5.591 12.487-12.487V18.731C439.928 8.387 431.541 0 421.196 0zm6.244 108.343H84.561c-6.897.001-12.487 5.592-12.487 12.489v371.971c0 17.545 20.387 25.287 31.975 13.695l151.952-151.951 151.951 151.949c11.51 11.515 31.977 3.989 31.977-13.731V120.831c-.001-6.897-5.592-12.488-12.489-12.488z"></path>
			</svg>
			<span>A free 5-day online course showing you the fundamental concepts needed to get a 7 or above on the IELTS test.</span>
		    </li>
		    <li>
			<svg width=34 height=34 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.001 512.001" fill="#f56f09">
			    <path d="M421.196 0H90.805C80.46 0 72.074 8.387 72.074 18.731v52.151c0 6.897 5.591 12.487 12.487 12.487H427.44c6.897 0 12.487-5.591 12.487-12.487V18.731C439.928 8.387 431.541 0 421.196 0zm6.244 108.343H84.561c-6.897.001-12.487 5.592-12.487 12.489v371.971c0 17.545 20.387 25.287 31.975 13.695l151.952-151.951 151.951 151.949c11.51 11.515 31.977 3.989 31.977-13.731V120.831c-.001-6.897-5.592-12.488-12.489-12.488z"></path>
			</svg>
			<span>Comprehensive training on all areas of IELTS, including Writing, Speaking, Reading and Listening.</span>
		    </li>
		    <li>
			<svg width=34 height=34 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.001 512.001" fill="#f56f09">
			    <path d="M421.196 0H90.805C80.46 0 72.074 8.387 72.074 18.731v52.151c0 6.897 5.591 12.487 12.487 12.487H427.44c6.897 0 12.487-5.591 12.487-12.487V18.731C439.928 8.387 431.541 0 421.196 0zm6.244 108.343H84.561c-6.897.001-12.487 5.592-12.487 12.489v371.971c0 17.545 20.387 25.287 31.975 13.695l151.952-151.951 151.951 151.949c11.51 11.515 31.977 3.989 31.977-13.731V120.831c-.001-6.897-5.592-12.488-12.489-12.488z"></path>
			</svg>
			<span>We have broken each part of the test down into its essential elements to help you prepare for the test effectively and efficiently.</span>
		    </li>
		    <li>
			<svg width=34 height=34 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.001 512.001" fill="#f56f09">
			    <path d="M421.196 0H90.805C80.46 0 72.074 8.387 72.074 18.731v52.151c0 6.897 5.591 12.487 12.487 12.487H427.44c6.897 0 12.487-5.591 12.487-12.487V18.731C439.928 8.387 431.541 0 421.196 0zm6.244 108.343H84.561c-6.897.001-12.487 5.592-12.487 12.489v371.971c0 17.545 20.387 25.287 31.975 13.695l151.952-151.951 151.951 151.949c11.51 11.515 31.977 3.989 31.977-13.731V120.831c-.001-6.897-5.592-12.488-12.489-12.488z"></path>
			</svg>
			<span>All of this is offered in a short 5-day course that aims to help you understand exactly what the examiners want and how to give it to them.</span>
		    </li>
		</ul>
	    </div>
	    <div class="col-md-6">
		<div class="img-box">
		    <img src="./uploads/ielts-fundamentals-mock-up-1-min.png" alt="CREATE YOUR ACCOUNT FOR FREE ACCESS">
		</div>
		<h4>Create your account for free accesss</h4>
		<p class="login-text">Already a member? Login <a href="https://my.ieltsadvantage.com/login-to-the-members-area/?_ar_id_=fdec08da78ee49b469cd85781fd2d94b_2004dd4d481f15c171b3fa5d62933141">HERE</a></p>
		<div class="mp_wrapper ">
		    <form class="mepr-signup-form mepr-form" method="post" action="/#mepr_jump" novalidate>
			<input type="hidden" id="mepr_process_signup_form" name="mepr_process_signup_form" value="Y" />
			<input type="hidden" id="mepr_product_id" name="mepr_product_id" value="209896" />
			<div class="mp-form-row mepr_bold mepr_price">
			    <label>Price:</label>
			    <div class="mepr_price_cell">
				Free        </div>
			</div>
			<input type="hidden" name="user_first_name" id="user_first_name" value="" />
			<input type="hidden" name="user_last_name" id="user_last_name" value="" />
			<input type="hidden" class="mepr-geo-country" name="mepr-geo-country" value="" />
			<div class="mp-form-row mepr_email">
			    <div class="mp-form-label">
				<label>Email:*</label>
				<span class="cc-error">Invalid Email</span>
			    </div>
			    <input type="email" name="user_email" id="user_email" class="mepr-form-input" value="" required />
			</div>
			<div class="mp-form-row mepr_password">
			    <div class="mp-form-label">
				<label>Password:*</label>
				<span class="cc-error">Invalid Password</span>
			    </div>
			    <input type="password" name="mepr_user_password" id="mepr_user_password" class="mepr-form-input mepr-password" value="" required />
			</div>
			<div class="mp-form-row mepr_password_confirm">
			    <div class="mp-form-label">
				<label>Password Confirmation:*</label>
				<span class="cc-error">Password Confirmation Doesn't Match</span>
			    </div>
			    <input type="password" name="mepr_user_password_confirm" id="mepr_user_password_confirm" class="mepr-form-input mepr-password-confirm" value="" required />
			</div>
			<input type="hidden" id="mepr_coupon_code-209896" name="mepr_coupon_code" value="" />
			<input type="text" id="mepr_no_val" name="mepr_no_val" class="mepr-form-input" autocomplete="off" />
			<div class="mp-form-submit">
			    <input type="submit" class="mepr-submit" value="JOIN THE CHALLENGE!" />
			    <img src="https://my.ieltsadvantage.com/wp-admin/images/loading.gif" style="display: none;" class="mepr-loading-gif" />
			    <span class="mepr-form-has-errors">Please fix the errors above</span>
			</div>
		    </form>
		</div>
	    </div>
	</div>
    </div>
</section>
<section class="content-section section-2">
    <div class="panel">
	<div class="text-center">
	    <h2>WHAT’S INCLUDED ON THE IELTS FUNDAMENTALS COURSE?</h2>
	    <div class="sep"></div>
	    <p class="sub-heading">Each day will have a lesson showing you the essentials that will help you get the score you need.</p>
	</div>
	<div class="panel-box">
	    <div class="icon"><img src="./uploads/ielts-fundamentals-lesson-icon-7.png" alt="CREATE YOUR ACCOUNT FOR FREE ACCESS"></div>
	    <div class="content">
		<h3>DAY ONE - SPEAKING</h3>
		<p>I will give you essential strategies for Part 1, 2 and 3 of the Speaking test that have helped thousands of my students get Bands 7, 8 and even 9 on their tests. We will also look at fluency and pronunciation.</p>
	    </div>
	</div>
	<div class="box-sep"></div>
	<div class="panel-box">
	    <div class="icon"><img src="./uploads/ielts-fundamentals-lesson-icon-7.png" alt="CREATE YOUR ACCOUNT FOR FREE ACCESS"></div>
	    <div class="content">
		<h3>DAY TWO - LISTENING</h3>
		<p>I will tell you the key reasons why students fail to get the score they need and solutions to each of those problems. We also show you how you can prepare for the Listening test at home for free.</p>
	    </div>
	</div>
	<div class="box-sep"></div>
	<div class="panel-box">
	    <div class="icon"><img src="./uploads/ielts-fundamentals-lesson-icon-7.png" alt="CREATE YOUR ACCOUNT FOR FREE ACCESS"></div>
	    <div class="content">
		<h3>DAY THREE - READING</h3>
		<p>We will take two of the most problematic questions- True/False/Not Given and Matching Headings- and give you step-by-step strategies for each of these questions, plus a demo for each question so that you will have no problem dealing with them on test day.</p>
	    </div>
	</div>
	<div class="box-sep"></div>
	<div class="panel-box">
	    <div class="icon"><img src="./uploads/ielts-fundamentals-lesson-icon-7.png" alt="CREATE YOUR ACCOUNT FOR FREE ACCESS"></div>
	    <div class="content">
		<h3>DAY FOUR - TASK 1 WRITING</h3>
		<p>On this day, we will give two separate lessons, one for General Training and one for Academic. For both, we will give you a structure and a strategy that will enable you to tackle any Task 1 question with confidence.</p>
	    </div>
	</div>
	<div class="box-sep"></div>
	<div class="panel-box">
	    <div class="icon"><img src="./uploads/ielts-fundamentals-lesson-icon-7.png" alt="CREATE YOUR ACCOUNT FOR FREE ACCESS"></div>
	    <div class="content">
		<h3>DAY FIVE - TASK 2 WRITING</h3>
		<p>On the final day, we will show you the key things the examiner is looking for so that you can give it to them on test day. These are things that less than 1% of students even think about and will ensure you have an advantage over everyone else in the exam room.</p>
	    </div>
	</div>
    </div>
</section>
<section class="content-section section-3">
    <div class="container">
	<h2>JOIN THE FUNDAMENTALS COURSE TO IMPROVE YOUR IELTS SKILLS TO BAND 7+</h2>
	<div class="sep"></div>
	<p>The course is taught over 5 days but you’ll get lifetime access to complete the course at your own pace. This course is 100% free and there is no need for a credit card.</p>
	<a class="btn-join" href="#optin-section-desktop">JOIN IELTS FUNDAMENTALS TODAY 100% FREE!</a>
	<div class="copy">
	    Copyright © 2018 | IELTS Advantage | All Rights Reserved | <a href="https://www.ieltsadvantage.com/privacy-policy/?_ar_id_=fdec08da78ee49b469cd85781fd2d94b_2004dd4d481f15c171b3fa5d62933141"><span style="color: #ffffff;">PRIVACY POLICY</span></a> | <span style="color: #ffffff;"><a style="color: #ffffff;" href="https://www.ieltsadvantage.com/terms-and-conditions/?_ar_id_=fdec08da78ee49b469cd85781fd2d94b_2004dd4d481f15c171b3fa5d62933141">TERMS &amp; CONDITIONS.</a></span>
	</div>
    </div>
</section>
<%= _.template(require('./../includes/footer.html').default)(data) %>