<% var data = {
title: "my.ieltsadvantage.com | IELTS Advantage",
ver: "1.05",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<section class="content-section section-1">
    <div class="text-center">
	<h1>Discover how to improve your ielts skills to band 7+ with our new ielts fundamentals course.</h1>
    </div>
    <div class="container">
	<div class="row">
	    <div class="col-md-6">
		<h2>JOIN THE IELTS FUNDAMENTALS<br> COURSE TODAY TO GET ACCESS TO:</h2>
		<ul class="banner-list">
		    <li>
			<svg width=34 height=34 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.001 512.001" fill="#f56f09">
			    <path d="M421.196 0H90.805C80.46 0 72.074 8.387 72.074 18.731v52.151c0 6.897 5.591 12.487 12.487 12.487H427.44c6.897 0 12.487-5.591 12.487-12.487V18.731C439.928 8.387 431.541 0 421.196 0zm6.244 108.343H84.561c-6.897.001-12.487 5.592-12.487 12.489v371.971c0 17.545 20.387 25.287 31.975 13.695l151.952-151.951 151.951 151.949c11.51 11.515 31.977 3.989 31.977-13.731V120.831c-.001-6.897-5.592-12.488-12.489-12.488z"></path>
			</svg>
			<span>A free 5-day online course showing you the fundamental concepts needed to get a 7 or above on the IELTS test.</span>
		    </li>
		    <li>
			<svg width=34 height=34 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.001 512.001" fill="#f56f09">
			    <path d="M421.196 0H90.805C80.46 0 72.074 8.387 72.074 18.731v52.151c0 6.897 5.591 12.487 12.487 12.487H427.44c6.897 0 12.487-5.591 12.487-12.487V18.731C439.928 8.387 431.541 0 421.196 0zm6.244 108.343H84.561c-6.897.001-12.487 5.592-12.487 12.489v371.971c0 17.545 20.387 25.287 31.975 13.695l151.952-151.951 151.951 151.949c11.51 11.515 31.977 3.989 31.977-13.731V120.831c-.001-6.897-5.592-12.488-12.489-12.488z"></path>
			</svg>
			<span>Comprehensive training on all areas of IELTS, including Writing, Speaking, Reading and Listening.</span>
		    </li>
		    <li>
			<svg width=34 height=34 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.001 512.001" fill="#f56f09">
			    <path d="M421.196 0H90.805C80.46 0 72.074 8.387 72.074 18.731v52.151c0 6.897 5.591 12.487 12.487 12.487H427.44c6.897 0 12.487-5.591 12.487-12.487V18.731C439.928 8.387 431.541 0 421.196 0zm6.244 108.343H84.561c-6.897.001-12.487 5.592-12.487 12.489v371.971c0 17.545 20.387 25.287 31.975 13.695l151.952-151.951 151.951 151.949c11.51 11.515 31.977 3.989 31.977-13.731V120.831c-.001-6.897-5.592-12.488-12.489-12.488z"></path>
			</svg>
			<span>We have broken each part of the test down into its essential elements to help you prepare for the test effectively and efficiently.</span>
		    </li>
		    <li>
			<svg width=34 height=34 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.001 512.001" fill="#f56f09">
			    <path d="M421.196 0H90.805C80.46 0 72.074 8.387 72.074 18.731v52.151c0 6.897 5.591 12.487 12.487 12.487H427.44c6.897 0 12.487-5.591 12.487-12.487V18.731C439.928 8.387 431.541 0 421.196 0zm6.244 108.343H84.561c-6.897.001-12.487 5.592-12.487 12.489v371.971c0 17.545 20.387 25.287 31.975 13.695l151.952-151.951 151.951 151.949c11.51 11.515 31.977 3.989 31.977-13.731V120.831c-.001-6.897-5.592-12.488-12.489-12.488z"></path>
			</svg>
			<span>All of this is offered in a short 5-day course that aims to help you understand exactly what the examiners want and how to give it to them.</span>
		    </li>
		</ul>
	    </div>
	    <div class="col-md-6">
		<div class="img-box">
		    <img src="./uploads/ielts-fundamentals-mock-up-1-min.png" alt="CREATE YOUR ACCOUNT FOR FREE ACCESS">
		</div>
		<h4>Create your account for free accesss</h4>
		<p class="login-text">Already a member? Login <a href="https://my.ieltsadvantage.com/login-to-the-members-area/?_ar_id_=fdec08da78ee49b469cd85781fd2d94b_2004dd4d481f15c171b3fa5d62933141">HERE</a></p>
		<div class="mp_wrapper ">
		    <form class="mepr-signup-form mepr-form" method="post" action="/#mepr_jump" novalidate>
			<input type="hidden" id="mepr_process_signup_form" name="mepr_process_signup_form" value="Y" />
			<input type="hidden" id="mepr_product_id" name="mepr_product_id" value="209896" />
			<div class="mp-form-row mepr_bold mepr_price">
			    <label>Price:</label>
			    <div class="mepr_price_cell">
				Free        </div>
			</div>
			<input type="hidden" name="user_first_name" id="user_first_name" value="" />
			<input type="hidden" name="user_last_name" id="user_last_name" value="" />
			<input type="hidden" class="mepr-geo-country" name="mepr-geo-country" value="" />
			<div class="mp-form-row mepr_email">
			    <div class="mp-form-label">
				<label>Email:*</label>
				<span class="cc-error">Invalid Email</span>
			    </div>
			    <input type="email" name="user_email" id="user_email" class="mepr-form-input" value="" required />
			</div>
			<div class="mp-form-row mepr_password">
			    <div class="mp-form-label">
				<label>Password:*</label>
				<span class="cc-error">Invalid Password</span>
			    </div>
			    <input type="password" name="mepr_user_password" id="mepr_user_password" class="mepr-form-input mepr-password" value="" required />
			</div>
			<div class="mp-form-row mepr_password_confirm">
			    <div class="mp-form-label">
				<label>Password Confirmation:*</label>
				<span class="cc-error">Password Confirmation Doesn't Match</span>
			    </div>
			    <input type="password" name="mepr_user_password_confirm" id="mepr_user_password_confirm" class="mepr-form-input mepr-password-confirm" value="" required />
			</div>
			<input type="hidden" id="mepr_coupon_code-209896" name="mepr_coupon_code" value="" />
			<input type="text" id="mepr_no_val" name="mepr_no_val" class="mepr-form-input" autocomplete="off" />
			<div class="mp-form-submit">
			    <input type="submit" class="mepr-submit" value="JOIN THE CHALLENGE!" />
			    <img src="https://my.ieltsadvantage.com/wp-admin/images/loading.gif" style="display: none;" class="mepr-loading-gif" />
			    <span class="mepr-form-has-errors">Please fix the errors above</span>
			</div>
		    </form>
		</div>
	    </div>
	</div>
    </div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>