@media (min-width: 480px) {
}
@media (min-width: 576px) {
}
@media (min-width: 768px){
    html{
	font-size: 16px;
    }
    h1, .h1 { font-size:$h1-font-size-lg; }
    h2, .h2 { font-size:$h2-font-size-lg; }
    h3, .h3 { font-size:$h3-font-size-lg; }
    h4, .h4 { font-size:$h4-font-size-lg; }
}
@media (min-width: 992px){
    .col-md-6 {
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
    }
    .section-2 {
	h2{
	    font-size: 36px;
	}
	.panel-box {
	    display: flex;
	    .icon{
		flex: 0 0 91px;
		padding-right: 15px;
	    }
	}
    }
    .section-3 h2 {
	font-size: 44px;
	.section-3 .btn-join {
	    width: 60%;
	}
    }
}
@media (min-width: 1280px){
    .container {
	max-width: 1110px;
    }
    .section-1{
	.row{
	    justify-content: space-between;
	    .col-md-6{
		max-width: 540px;
	    }
	}
    }
}
@media (max-width: 991px){
    .section-2 .panel-box {
	text-align: center;
	.icon{
	    margin-bottom: 30px;
	}
	img{
	    max-width: 35%;
	}
    }
}
@media (max-width: 767px){
    .section-2 {
	h2{
	    font-size: 24px;
	}
	.panel-box h3 {
	    font-size: 16px;
	}
    }
    .section-3{
	h2{
	    font-size: 24px;
	}
	.btn-join{
	    font-size: 22px;
	}
    }
}
@media (max-width: 575px){
}
@media (max-width: 480px){

}