@media (min-width: 480px) {
}
@media (min-width: 576px) {
}
@media (min-width: 768px){
    h1, .h1 { font-size:$h1-font-size-lg; }
    h2, .h2 { font-size:$h2-font-size-lg; }
    h3, .h3 { font-size:$h3-font-size-lg; }
    h4, .h4 { font-size:$h4-font-size-lg; }
    .col-md-6 {
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
    }
}
@media (min-width: 992px){
}
@media (min-width: 1280px){
    .container {
	max-width: 1110px;
    }
}
@media (max-width: 767px){
}
@media (max-width: 575px){
}
@media (max-width: 480px){

}