$black: #000000;

$blue: #016aa7;
$green: #0bcb8e;

// Fonts
$font-family-base: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
$font-family-secondary: 'Arimo',Helvetica,Arial,Lucida,sans-serif;

$font-size-base: 1rem;
$font-weight-base: 400;
$line-height-base: 1.5;

// Typography

$paragraph-margin-bottom: 1rem;

$link-color: $blue;
$link-hover-color: $green;

// Headings
$headings-font-fdamily: $font-family-secondary;
$headings-margin-bottom: 1rem;
$headings-font-weight: 700;
$headings-line-height: 1.1;
$headings-color: $blue;

$h1-font-size: rem(24px);
$h2-font-size: rem(22px);
$h3-font-size: rem(18px);
$h4-font-size: rem(16px);
$h5-font-size: rem(15px);
$h6-font-size: rem(14px);

$h1-font-size-lg: rem(44px);
$h2-font-size-lg: rem(22px);
$h3-font-size-lg: rem(18px);
$h4-font-size-lg: rem(16px);


// Forms
$label-margin-bottom: 1vw;